NODE_ENV=development
PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="change_this_secret"
JWT_EXPIRES_IN="1d"
ADMIN_NAME="Admin User"
ADMIN_EMAIL="admin@handle.local"
ADMIN_PASSWORD="ChangeMe123!"

ENABLE_RUBEUS_RETRY_JOB="true"
RUBEUS_RETRY_HOUR="18"
PUBLIC_API_KEY_REQUIRED="false"
